{%extends "home/base.html"%}

{%block content%}

<center>

   <div class="boxxing primary center"><!-- box Begin -->
       <div class="box-header"><!-- box-header Begin -->

               <h3> Jagrati Sharma </h3>

            <div class="border-top pt-3">

                <small style="align='center'">sharmj@rpi.edu</small>
                <hr/>
               <h3> Abhishek Gupta </h3>

            <div class="border-top pt-3">

                <small style="align='center'">guptaa@rpi.edu</small>

            </div>
       </div>
   </div>

</center>
{%endblock content%}