{%extends "home/base.html"%}
{%block content%}

{%for post in posts%}
<center>
<div class="col-sm-3 col-md-4"><!-- col-md-9 Begin -->
   <div class="box"><!-- box Begin -->
       <div class="box-header"><!-- box-header Begin -->
           <div class="product">
                    <a href="#">
                        <img class="img-responsive" src="{{post.prod_image.url}}" alt="Product1">
                    </a>
                    <div class="text">
                        <h3>
                            {{post.prod_title}}
                        </h3>
                        <p class="price">$ {{post.prod_price}}</p>
                        <p class="button">

                            <a href="#" class="btn btn-primary">
                                Add to Cart
                            </a>
                        </p>
                    </div><!-- text ends -->
           </div><!-- product ends -->
       </div>
    </div>
</div>
</center>
{%endfor%}

{%endblock content%}
