
body{
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background: #f0f0f0;
    overflow-x: hidden;
}


#top{
    background: #000000;
    padding: 10px 10px;
    font-family: Helvetica;
}
@media(max-width: 991px){
    #top .offer{
        margin-bottom: 10px;
    }
}
@media(max-width: 991px){
    #top{
        font-size: 12px;
        text-align: center;
    }
}
#top a{
    color: #ffffff;
}
@media(max-width: 991px){
    #top ul.menu{
        text-align: center;
    }
}
#top ul.menu{
    padding-top: 5px;
    margin: 10px 10px 10px 10px;
    text-align: right;
    font-size: 12px;
    list-style: none;
    align:right;
}

#top ul.menu > li{
    display: inline-block;
    padding: 10px 10px;
}

#topping{
    margin: 10px 10px 10px 10px;
    background: #ffffff;
    padding: 10px 10px;
    font-family: Helvetica;
}

#topping a{
    color: #000000;
    align:center;
}

#topping ul.menu{
    padding-top: 5px;
    margin: 0px;
    text-align: center;
    font-size: 15px;
    list-style: none;
    align:center;
}
.topping-brand:hover,

.topping ul.nav > li > a:hover{
    background: #e7e7e7;
}

#topping ul.menu > li{
    display: inline-block;
    padding: 10px 10px;
}

/* Header Styles */

.navbar{
    background: #ffffff;
}
.navbar-collapse .right{
    float: right;
}

.navbar-brand{
    float: left;
    padding: 10px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 70px;
}
.navbar-brand:hover,

.navbar-brand:focus{
    text-decoration: none;
}

.navbar ul.nav > li > a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.navbar ul.nav > li > a:hover{
    background: #e7e7e7;
}

.padding-nav{
    padding-top: 10px;
}

.btn-primary{
    color: rgb(255, 255, 255);
    background: rgb(79, 191, 168);
    border-color: rgb(65, 179, 156);
}

.box{
    background: #ffffff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    box-sizing: border-box;
    padding: 20px;
    box-shadow:0px 2px 5px rgba(0,0,0,.3);

}

.price{
font-size:20px;
}
.boxxing{
    background: #ffffff;
    margin: 100px 450px 300px;
    border: solid 2px #e6e6e6;
    box-sizing: 250px 200px;
    padding: 15px;
    align: center;
}

/* Latest Products Styles */
#hot h2{
    font-size: 20px;
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
}

#content{
   padding-left: 25px; 
}
.single{
    width: 290px;
}
@media(max-width:768px){
    .single{
        width: 60%;
        margin: 0 auto;
    }
}



/*  Footer Styles  */

#footer{
    background: #000000;
    padding: 20px 20px;
}

.product a img.img-responsive{
    max-height: 252px;
    width: 100%;
}
#content #productMain{
    margin-bottom: 30px;
}

#content #productMain .price{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-top: 30px;
}
#mid{
text-align:center;
align: center;
margin: 10px 230px 10px 230px;
}
