{%extends "home/base.html"%}
{% load crispy_forms_tags %}

{%block content%}

   <div class="boxxing"><!-- box Begin -->

           <center><!-- center Begin -->
               <h2> Register a new account </h2>
           </center><!-- center Finish -->
                <div class="form-group">
                    <form method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form | crispy }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Sign Up</button>
                        </div>
                    </form>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            Already Have An Account? <a class="ml-2" href="{% url 'login'%}">Sign In</a>
                        </small>
                    </div>
                </div>
        </div>
    </div>
</div>

</div>


{%endblock content%}